<!DOCTYPE html>
	<html>
		<head>
			<title>
				Edit
			</title>
			<meta name="viewport"
			content ="width=device-width,initial-scale=1.0">
		
			<link href="layout1.css" rel="stylesheet">
		</head>
		
			<body>
				<h1>
					Update 
				</h1>
					<form>
					<div>
						Enter your name &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
						<input name="name" type="text">
					</div>
					<div>
						Enter Password &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
						<input name="password" type="password">
					</div>
					<div>
					<button>Confirm</button>
					</div>
					</form>
				</body>
			</html>