<!DOCTYPE html>
<html>

	<head>
		<title>
			Forgot password
		</title>
		<link href="layout1.css" rel="stylesheet">
	</head>
		
	<body>
			
		<h1>VERIFICATION</h1>
			<form>
				<div>{{emessage}}{{smessage}}</div>
					<div>
						Enter your email address &nbsp &nbsp
						<input name="email",type="text"> 
					</div>
					<div>
						Select the security question
						<input name="securityquestion" list ="securityquestions" placeholder= "Select one">
						<datalist id="securityquestions">
						<option value="What is your favourite food?">
						<option value="What is favourite pet?">
						<option value="Name of your mother's? hometown">
						<option value="Name of your favourite movie?">
					</div>
					<div>
						Enter your answer &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 
						<input name="securityans", type="text", placeholder="Enter your answer">
					</div>
					<div>
					<button>VERIFY ME</button>
					</div>
			</form>
		</body>
	</html>
