<!DOCTYPE html>
<html>
	<head>
	<title>
		Login
	</title>
	<meta name="viewport"
		content ="width=device-width,initial-scale=1.0">
	<link href="layout1.css" rel="stylesheet">
	</head>
		<body>
		<h1>Login to your account </h1>
		<form>
			<div>{{emessage}}{{smessage}}</div>
			<div>
				Email-id &nbsp &nbsp &nbsp &nbsp &nbsp
				<input name ="login_email", placeholder="Enter email", type="text">
			</div>	
			<div>
			Password &nbsp &nbsp &nbsp &nbsp &nbsp
				<input name="login_password", placeholder="Enter password", type="password">
			</div>
			<div>
			<button>Login</button>
			</div>
		</form>
			<div>
				<a href="forgotpassword.html" >Forgot Password?</a>
			</div>
		</body>
	
</html>
