<!DOCTYPE html>
	<html>
		<head>
			<title>
				My Account
			</title>
			<meta name="viewport"
			content ="width=device-width,initial-scale=1.0">
		
			<link href="layout1.css" rel="stylesheet">
		</head>
		
			<body>
				<h1>
					My Account
				</h1>
				<div>
					<div>Name-{{name}}</div>
					<div>Age-{{age}}</div>
					<div>Gender-{{gender}}</div>
					<div>Email-{{email}}<a href="editemail.html">edit</a></div>
					<div><a href="editquestion.html">edit sequrity question</a></div>
				</div>
	</body>
</html>
