<!DOCTYPE html>
<html>

	<head>
		<title>
			Forgot password
		</title>
		<meta name="viewport"
		content ="width=device-width,initial-scale=1.0">
		
		<link href="layout1.css" rel="stylesheet">
	</head>
		
	<body>
			
		<h1>RESET PASSWORD</h1>
			<form>
				<div>{{emessage}}{{smessage}}</div>
					<div>
						Create New Password  &nbsp &nbsp &nbsp &nbsp
						<input name="newpassword",type="password">
					</div>
					<div>
						Confirm Password &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
						<input name="confirmpassword",type="password">
					</div>
					<div>
					<button>Change Password</button>
					</div>
			</form>
		</body>
	</html>
