<!DOCTYPE html>
<html>

	<head>
		<title>
			Success
		</title>
		<meta name="viewport"
		content ="width=device-width,initial-scale=1.0">
		
		<style>
			.success{
			font-family:sans-serif;
			font-size:18px;
			font-weight:bold;
			background-color:green;
			}
			div,h1{
			text-align:center;
			}
			button{
			height:30px;
			width:100px;
			color:white;
			background:green;
			border-radius:20px;
			cursor:pointer;
			font-family:sans-serif;
			}
			div,body{
			padding:30px;
			}
		</style>
	</head>
		
	<body>
			
		<h1>SUCCESS!</h1>
			<div class = "success" role="alert">
				You have been verified successfully. Click on "Proceed" and continue.
			</div>
			<div>
			<button onclick="window.location.href='newpassword.html'">Proceed</button>
			</div>
	</body>
</html>